<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My TODO App</title>
        <link rel="stylesheet" type="text/css" href="../static/css/tableStyle.css">
    </head>
    <body>
        <div>
            <h2>TO-DOs</h2>
        </div>
        <div>
            <table id="todoTable">
                <tr>
                    <th>Id</th>
                    <th>Task</th>
                    <th>E-mail</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Remove</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td> {{task.id}} </td>
                    <td> {{task.desc}} </td>
                    <td> {{task.email}} </td>
                    <td> {{task.priority}} </td>
                    <td>
                        <select name="status">
                            <option value="In progress">In Progress</option>
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                        </select>
                        <a href="/status"><input type="button" value="Update"></a>
                    </td>
                    <td>
                        <input type="button" value="Delete" onclick="deleteRow(this)"/>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div><br>
        <div>
            <form action="/submit" method="post">
                <input type="text" name="task" placeholder="To Do Item">
                <input type="text" name="email" placeholder="email">
                <select name="priority">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                </select><br>
                <input type="submit" value="Add To Do Item">
            </form>
        </div><br>
        <div>
            <a href="/save"><input type="button" value="Save"></a>
            <a href="/clear"><input type="button" value="Clear"></a>
        </div>


        <script>
            function deleteRow(x){
                var row = x.parentNode.parentNode;
                row.parentNode.removeChild(row);
                var cells = row.getElementsByTagName('td');
                var id = cells[0].innerHTML.trim();

<!--                $.ajax({-->
<!--                    url: "/delete/" + id + "/"-->
<!--                    }).done(function(res) {-->
<!--                    alert(res.name);-->
<!--                });-->

            }

        </script>
    </body>
</html>